  <% layout("/layouts/boilerplate")%>
  <div class="row">
        <div class="col-8 offset-2 ">
            <h3>Create a New Listing</h3>
            <br><br>
            <form method="post" action="/listings" novalidate class="needs-validation"
            enctype="multipart/form-data" >            
                <div class="mb-3">
                   <label for="title" class="form-label">Title</label> 
                   <input name="listing[title]" 
                   placeholder="Add a catchy title"
                    type="text"
                   class="form-control"
                   required/>
                   <div class="valid-feedback">Titel looks good</div>
                </div>
                
                 <div class="mb-3">
                    <label for="description" class="form-label">Descriptio</label>
                    <textarea 
                    name="listing[description]"
                    class="form-control"
                    required ></textarea>
                    <div class="invalid-feedback">please enter the short description</div>
                  <br>
                  
                </div>
        
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input name="listing[image]"
                     type="file"
                     class="form-control"
                     required/>
                     
                </div>
        
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" 
                            placeholder="1200"
                            
                             class="form-control"
                             required/>
                             <div class="invalid-feedback">price should be valid</div>
                        </div>
                    </div>
                    
                 <div class="col-md-8">
                    <div class="mb-3 ">
                        <label for="country" class="form-label">Country</label>
                        <input name="listing[country]"
                         placeholder="India" 
                        type="text"
                        class="form-control" 
                        required/>
                        <div class="invalid-feedback">country should be valid </div>
                     </div>
                 </div>

                 <div class="col-md-8">
                    <div class="mb-3 ">
                        <label for="category" class="form-label">Category</label>
                        <select id="category" name="listing[category]">
                            <option value="trending">Trending</option>
                            <option value="rooms">Rooms</option>
                            <option value="iconic cities">Iconic Cities</option>
                            <option value="mountains">Mountains</option>
                            <option value="castles">Castles</option>
                            <option value="amazing pools">Amazing Pools</option>
                            <option value="camping">Camping</option>
                            <option value="farms">Farms</option>
                            <option value="domes">Domes</option>
                            <option value="boats">Boats</option>
                            <option value="arctic">Arctic</Article></option>
                        </select>
                       <div class="invalid-feedback">Category should be valid </div>
                     </div>
                 </div>
                </div>
               
                 
        
                 <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input name="listing[location]"
                     placeholder="Ujjain" 
                    type="text"
                    class="form-control"
                    required/>
                    <div class="invalid-feedback">location should be valid</div>
                 </div>
                  
                  <button class="btn btn-dark add-btn">Add</button>
                  <br><br>
                </form>
        </div>
 </div>